<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        <a class="nav-link" href="#"><i class="fa fa-trello"></i>Assesments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-fw fa-book"></i>Question Bank</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i>Candidates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tenants</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   
  </div>
</nav>

<div class="form-group">
  <div class="text-right">
  
  <button class="btn btn-outline-success btn-lg float-right" style="background-color:royalblue;color: seashell;" type="submit">Download Profile</button>

</div>
</div>

<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
              <form class="form-inline my-2 my-lg-0">
                <h3>My Profile</h3>
              </form>
              <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle"> 
           
                <h3>
                   Puja Ingale
                  </h3>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Software Engineer
              </div>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Puja_Ingale@tenant.com
              </div>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>+91 770 931 2178
              </div>
              <i class="fa fa-facebook-square" style="font-size:24px"></i>
              <i class="fa fa-twitter" style="font-size:24px"></i>
              <i class="fa fa-linkedin-square" style="font-size:24px"></i>
             
              
 

  </div>
  <div class="vl"></div>
<div class="tr">
<div class="container-fluid">
  
  <div class="text-right"> 
  <p>04 - Total Assessments Completed</p><br><br>
  <br>
  <p>14 - Assessments Overall Skils</p>

  </div>

</div>
</div>
