<div class="container">
<!-- <h1>Hello</h1>
<h2>Add Products</h2>
<form #myForm="ngForm" (ngSubmit)="addProduct(myForm.value)">
  <div class="form-group">
    <label>Pname</label>
    <input type="text" class="form-control" ngModel name="pname" #pn="ngModel"/>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" ngModel name="price" #pr="ngModel"/>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="text" class="form-control" ngModel name="quantity" #qn="ngModel"/>
  </div>
  <input type="submit" value="Add" class="btn btn-success"/>
</form> -->
<app-nav></app-nav>
<section class="container">
  <router-outlet>
    </router-outlet>
</section>
</div>