
<div class="Container"> 
       <mat-toolbar color="accent">
           <div align="center" style="color:white;text-align:right;">
           <ins>Insert Update Employee Form</ins> 
        </div>
       </mat-toolbar>
   <br><br>
   <mat-card-content>
    <form [formGroup]="employeeForm" name="employeeForm" (ngSubmit)="onFormSubmit()">
   
        <table class="center">
            <tr>
                <td>
                    First Name
                </td>
                 <td>
                     <input type="text" placeholder="First Name" name="" formControlName="FirstName">
                 </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                 <td>
                     <input type="text" placeholder="Last Name" name="" formControlName="LastName">
                 </td>
            </tr>
            <tr>
                <td>
                    Email Address
                </td>
                 <td>
                     <input type="text" placeholder="Email Address" name="" formControlName="EmailAddress">
                 </td>
            </tr>
            <tr>
                <td>
                    Mobile Number
                </td>
                 <td>
                     <input type="text" placeholder="Mobile Number" name="" formControlName="MobileNumber">
                 </td>
            </tr>
            <tr>
                <td>
                    Pan Number
                </td>
                 <td>
                     <input type="text" placeholder="Pan Number" name="" formControlName="PanNumber">
                 </td>
            </tr>
            <tr>
                <td>
                    Passport Number
                </td>
                 <td>
                     <input type="text" placeholder="Passport Number" name="" formControlName="PassportNumber">
                 </td>
            </tr>
            
            <tr>
                <td>
                    Date of birth
                </td>
                 <td>
                     <input type="date" name="" formControlName="DateOfBirth">
                 </td>
            </tr>
            <tr>
                <td>
                    Date of joinee
                </td>
                 <td>
                     <input type="date" name="" formControlName="DateOfJoinee">
                 </td>
            </tr>
            <tr>
                <td>
                    <mat-label>
                        Select Country
                    </mat-label>
                </td>
                <td>
                    <select id="countries" name="countries">
					<option value="country">Select Country</option>
                    <option *ngFor="let country of Countries">
                        {{country.name}}
                    </option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label>
                        Select State
                    </mat-label>
                </td>
                <td>
                    <select id="states" name="states">
					<option value="state">Select State</option>
                    <option *ngFor="let state of States">
                        {{state.name}}
                    </option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label>
                        Select City
                    </mat-label>
                </td>
                <td>
                    <select id="cities" name="cities">
					<option value="city">Select City</option>
                    <option *ngFor="let city of Cities">
                        {{city.name}}
                    </option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                 <td>
                     <input type="radio" name="Gender"> Male
                     <input type="radio" name="Gender"> Female
                 </td>
            </tr>
            <tr>
                <td>
                    Active
                </td>
                 <td>
                     <input type="checkbox" name="Active"> Active
                 </td>
            </tr>
            <tr>
                <td>
                    Profile Picture
                </td>
                <td>
                    <input type="file" #fileInput id="uploadPicture" (chane)="uploadFileEvt($event)" name="Upload Profile Picture"
                    multiple="multiple" accept="image/*"/>
                </td>
            </tr>
        </table>
        <div class=content-center>
            <button type="submit" mat-raised-button color="accent">Save</button>
        </div>
        <br><br>
        
        <table class="table">
            <tr ngclass="btn-primary">
                <th class="tb12">Email</th>
                <th class="tb12">State</th>
                <th class="tb12">City</th>
                <th class="tb12">PanNo</th>
                <th class="tb12">PassportNo</th>
                <th class="tb12">Gender</th>
                <th class="tb12">IsActive</th>
                <th class="tb12">ProfileImage</th>
                <th class="tb12">Edit</th>
                <th class="tb12">Delete</th>
                </tr>
                <tr *ngFor="let employee of allEmployees | async">  
                    <td class="tbl2">{{employee.FirstName}}</td>  
                    <td class="tbl2">{{employee.DateOfBirth | date }}</td>  
                    <td class="tbl2">{{employee.LastName}}</td> 
                    <td class="tbl2">{{employee.EmailAddress}}</td>  
                    <td class="tbl2">{{employee.PassportNumber}}</td>
                
                </tr>
           
        
        </table>
    </form>
   </mat-card-content>
</div>
