<p>contact works!</p>
<a routerLink="/addContact">Add Contact</a>

<!-- <table class="table">
    <thead>
        <tr class="colspan-5">
            <a routerLink="/addContact">Add Contact</a>
        </tr>
        <tr>
            <th>firstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Qualification</th>
            <th>ContactNumber</th>
            <th>gender</th>
            <th>checkbox</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of proData; let i =index;">
            <td>{{i+1}}</td>
            <td>{{p.pname}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td><button (click)="DeleteProd(p.id)">delete</button></td>
        </tr>
    </tbody>
</table>  -->
